.App {
    height: 100vh;
}

/* Navbar */

.searchNavbar {
    background-color: transparent !important; 
    padding: 1rem; 
    border-bottom: solid 1px #86C232;
}

.logoNavbar {
    align-items: center;
}
.logoNavbar a, label {
    color: #86C232;
}

.navbar-brand {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
}

.navbar-brand:hover {
    color: #86C232;
}

.form-control {
    width: 300px; 
}
.searchBtn {
    border: solid 2px hsl(85, 59%, 48%);
}
.logOutBtn {
    color: rgb(236, 33, 33);
    margin-left: 1rem;
}

.searchBtn {
    color: hsl(85, 59%, 48%); 
    border-color: hsl(85, 59%, 48%); 
}

.searchBtn:hover {
    background-color: hsl(85, 59%, 48%); 
    color: white; 
}

.profile-infos {
    display: flex;
    align-items: center;
    color: white; 
    margin-right: 1rem; 
}
.profile-infos:hover {
    color: #86C232;
    transition: .1s;
}

.profile-infos span, .profile-infos a {
    margin-left: 0.5rem; 
}

/* Homepage */
.homepageContent h2{
    padding-top: 3rem;
    font-weight: bold;
}

.homepageContent .homepageCards {
    padding-top: 2rem;
}

/* Card */
.cardArea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #474b4f;
    border-radius: 7px;
    margin: 2rem;
    padding: 20px;
    width: 400px;
    height: 200px;
}

.cardArea label {
    font-size: 1.5rem;
    font-weight: bold;
    padding-bottom: 1rem;
}

.cardArea button {
    width: 50%;
    background-color: #61892F;
    border: none;
}
.cardArea button:hover {
    background-color: rgb(84, 121, 32);
}