.centerScreen .loginScope {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    color: white;
    width: 500px;
    height: 523px;
    text-align: left;
}


.logo {
    color: #86C232;
    padding-bottom: 1.5rem;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.logo h1 {
    font-size: 52px;
    font-weight: bold;
    padding-right: 0.4rem;
}


.loginCompanyScope .logo {
    padding-bottom: 0.3rem;
}

.companyText {
    text-align: center;
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.15rem;
    color: #86C232;
}

.loginForm .form-group {
    padding: 0 0 1.5rem 0;
}

.form-control {
    border: solid 2px hsl(85, 59%, 48%);
    color: white;
    background-color: transparent;
}
.form-control:focus {
    border: solid 2px #86C232;
    color: white;
    background-color: transparent;
}
.form-control::placeholder {
    color: white;
    opacity: .5;
}

.submitBtn {
    width: 5rem;
    background-color: #86C232;
    border: solid 2px #86C232;
    color: #86C232;
}
.submitBtn:hover {
    background-color: transparent;
    color: white;
    border: solid 2px #86C232;
}

.register-btn {
    padding-top: 1rem;
    color: #86C232;
}
.register-btn:hover {
    transition: .2s;
    color: #6e9f2a;
}

.companyBtn {
    background-color: #61892F; 
    border: solid 2px #61892F;
    color: white;
}

.companyBtn:hover {
    background-color: rgb(84, 121, 32);
    border: solid 2px rgb(84, 121, 32);
}