/*Candidates*/
.candidatesContent h1 {
    padding: 2rem;
}
.candidatesContent label {
    padding-bottom: 5px;
}

.studentName {
    font-size: 25px;
    font-weight: bold;
}

/*Publish Job Form*/
.publishJob {
    background-color: #222629;
}
.publishJobContent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.publishJobContent h1{
    margin: 2rem 0 2rem 0;
}
.publishJobContent form {
    text-align: left;
    margin: 0 auto;
}

select {
    cursor: pointer;
}
select option {
    background-color: #222629;
    color: white;
}

.inputJobDescription {
    text-align: start;
    width: 100%;
    height: 250px; 
    padding: 10px; 
    resize: none; 
}

