/* Profile */
.profileContent {
    background-color: #222629;
}
.profileContent h1 {
    padding: 2rem 0  0 0;
}

.profileContent h3 {
    margin: 3rem 0 1rem 0;
}

/* FORMs */
.formStudent, .formCompany {
    text-align: left;
    margin: 0 auto;
}
.formStudent .submitBtn, .formCompany .submitBtn {
    width: 6rem;
}

.formStudent .form-group, .formCompany .form-group {
    padding: 0 0 1rem 0;
}

/* Card */
.profileContent .cardJob {
    width: 400px;
    height: 260px;
    justify-content: center;
}

.editJobIcon, .deleteJobIcon {
    padding: 1rem;
    cursor: pointer;
}
.editIcon:hover {
    color: rgb(245, 245, 93);
}
.deleteIcon:hover {
    color: rgb(211, 59, 59);
}

/* Candidato */
.candidateContent {
    margin-top: 3rem;
    background-color: #222629;
}
.mainCol {
    text-align: start;
}
.mainCol h1 {
    font-size: 4rem;
    padding-bottom: 2rem;
}
.mainCol p {
    font-size: 20px;
}
.secondaryCol {
    text-align: end;
    display: flex;
    flex-direction: column;
}
.secondaryCol label {
    color: white;
    font-size: 16px;
}
.studentDescription {
    white-space: pre-wrap;
}